:root {
  --text-color: hsl(240, 25%, 85%);
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    120deg,
    hsl(240, 100%, 15%),
    hsl(240, 100%, 3%)
  );
}

a {
  color: var(--text-color);
}
.About {
  z-index: 0;
  color: var(--text-color);
  background-color: hsla(0, 50%, 0%, 0.75);
  width: calc(100vw - 6em);
  height: calc(100vh - 6em);
  border: 1px solid white;
  border-radius: 1em;
  article > header {
    display: flex;
    align-content: stretch;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 1px solid white;
    .title,
    .email {
      flex: 1;
      margin: 0.5rem 1rem 0.5rem 1rem;
    }
    .email {
      text-align: right;
    }
  }
  section {
    font-size: 1.25em;
    margin: 0.5em 1em 0.5em 1em;
    header {
      font-weight: bold;
    }
  }
}
